@import url(../reset.css);
@import url(../animation.css);
@import url(signin.css);

*{
    font-size: 10px;
}
header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #020228af;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 15px;
}

.logo {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-header {
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 50px;

}

.btn-header:nth-of-type(1) {
    background: #fff;
    color: var(--primary-color);
}

.btn-header:nth-of-type(2) {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-header:nth-of-type(2):hover {
    border: 1px solid #490cb0;
    background: transparent;

    transition: .5s;
}
/*===========
MAIN
===========*/
.first-section div.container-p{
    width: 50vw;
}
.btn-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}

/*===========
FOOTER
===========*/
footer{
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 20px;
}
.container-footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.nav-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.txt-footer{
    font-size: x-small;
    font-family: var(--secondary-font);
    font-weight: 700;
    text-transform: uppercase;

    letter-spacing: 4px;
    color: rgb(128, 128, 128);
    transition: color .7s ease;
}
.txt-footer:hover{
    color: #fff;
}
.container-coppy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt-coppy{
    margin: 0 10px;
    width: 270px;
    font-size: x-small;
    text-align: center;
    

    color: rgb(68, 68, 68);
}
.container-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    padding: 0 0 20px 0;
}