@import url(reset.css);
@keyframes bg-animation {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@keyframes btnMain {
  0%{ background: transparent;}
  100%{ background: var(--btn-bg-color-gradient);}
}
