@import url(reset.css);
@import url(animation.css);
@import url(style.css);

:root {
    --bg-black: #000;
}
*{
    font-size: 10px;
}

body {
    margin: 0;
    min-height: 100vh;

    background: var(--primary-color);
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #020228af;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 15px;
}

.logo {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-header {
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 50px;

}

.btn-header:nth-of-type(1) {
    background: #fff;
    color: var(--primary-color);
}

.btn-header:nth-of-type(2) {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-header:nth-of-type(2):hover {
    border: 1px solid #490cb0;
    background: transparent;

    transition: .5s;
}

/*
MAIN
*/
.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section-first {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--bg-color);
    background-size: 400% 400%;
    animation: bg-animation 10s alternate infinite;

}

.picture-demostration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    max-width: 270px;
}
.picture-demostration img {
    width: 60px;
}
.picture-demostration img:nth-of-type(3) {
    width: 30px;
}

.text-first {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.txt-first {
    font-weight: 100;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.txt-first span {
    font-weight: 700;
}

.bar {
    width: 60vw;
    height: 5px;
    margin: 25px;

    border-radius: 50px;
    background: linear-gradient(to right, #490cb0, rgba(255, 0, 229, 0.5));
}

.prince-txt {
    font-weight: 100;
}

.prince-txt:nth-of-type(2) {
    font-weight: 700;
    font-size: 2em;
}

.prince-txt span {
    font-size: 1rem;
}

.btn-section-first {
    height: 30px;
    width: 160px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--primary-color);
}

.firstTerms-text {
    width: 300px;
    margin-top: 30px;

    font-family: "Quicksand";
    text-align: center;
    font-weight: 100;
}

/*
SEGUNDA SECTION
*/

.section-secondary {
    display: flex;
    flex-direction: column;
    background: url(../images/background-movies-series.png);
    background-size: 180%;
}

.h2-aboutPlan {
    margin: 25px 0;
    width: 270px;

    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.card {
    background: var(--card-bg-color);
    border-radius: 10px;
    width: 240px;
    height: 45vh;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.card-device {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 1.5rem;
    margin: 20px 0;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.txt-device {
    font-family: var(--secondary-font);
    font-weight: 700;
}

.txt-value {
    color: var(--secondary-color);
    font-weight: 700;
}

.txt-card {
    display: flex;
    gap: 20px;
}

.btn-container {
    align-self: center;
}
.btn-plan {
    border: 1px solid var(--secondary-color);
    max-width: 280px;
    width: 250px;
}
.btn-plan span{
    font-weight: 600;
    font-size: 9px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}


/*  Terceira Section  */
.section-tertiary{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;

    overflow-x: scroll;
    padding: 0;
    margin: 0;
}
.txt-cartas{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
.txt-cartas h2{
    font-size: 1.3rem;

    padding: 15px 0;
    position: absolute;
}
.cartas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    width: 280px;
    margin: 0;
}
.container-img {
    min-width: 200px;
    flex-shrink: 0;
}
.img-defautl{
    display: block;
    width: 100%;
}
.container-img img.hover-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.container-img:hover img.hover-img {
    opacity: 1;
    transition: opacity 0.7s ease;
}
.cartas-img {
    width: 230px;
    height: 100%;
    border-radius: 10px;
    border: 0 solid transparent;
}
/*
FOOTER
*/
footer{
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 20px;
}
.container-footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.nav-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.txt-footer{
    font-size: x-small;
    font-family: var(--secondary-font);
    font-weight: 700;
    text-transform: uppercase;

    letter-spacing: 4px;
    color: rgb(128, 128, 128);
    transition: color .7s ease;
}
.txt-footer:hover{
    color: #fff;
}
.container-coppy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt-coppy{
    margin: 0 10px;
    width: 270px;
    font-size: x-small;
    text-align: center;
    

    color: rgb(68, 68, 68);
}
.container-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    padding: 0 0 20px 0;
}